@import "tailwindcss";


:root {
  --primary: #1d2b36;
  --foreground: #1d2b36;
  --background: #f5ede3;
  --accent: #00c2b2;
  --secondary: #7c8a97;
}

@font-face {
  font-family: 'TtLakesNeue';
  src: url('/TT_Lakes_Neue_Trial_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --font-sans: 'TtLakesNeue';
  --font-mono: 'TtLakesNeue';
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'TtLakesNeue';
}

@layer components {
  .heading-2 {
    @apply text-xl font-bold mb-2
  }
}